@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.7s ease;
  padding: 10px 20px;
  z-index: 10;
  
}
header.abajo {
  background: #fff;
}
header .logo {
  text-decoration: none;
  color: #fff; 
  transition: 0.3s;
  margin-top: 7.5px;
}
.logo-container {
  animation: rotateLogo 20s infinite;
}
.logo-container:hover {
  animation-play-state: paused;
}

@keyframes rotateLogo {
  0% {
      transform: rotateY(0deg); /* Empieza sin rotación */
  }
  50% {
      transform: rotateY(360deg); /* Gira 360 grados a la mitad de la animación */
  }
  100% {
      transform: rotateY(0deg); /* Regresa a la posición inicial */
  }
}

header nav{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem ;
}

header li {
  margin: 0 15px;
}

header li a {
  text-decoration: none;
  color: #fff; 
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.7s ease; 
}
header li a:hover {
  color: #f3b342;
}
header .toogle_btn:hover i {
  color: #f3b342;
  transform: scale(1.1);
}


header.abajo .logo,
header.abajo li a,
header.abajo .toogle_btn {
  color: #000;
}

header.abajo li a:hover {
  color: #f3b342;
}

header.abajo .toogle_btn:hover i {
  color: #f3b342;
  transform: scale(1.1);
}


header.abajo .dropdown_menu{
  background: rgba(255, 255, 255, 0.9);
}
.toogle_btn{
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  height: 0;
  width: 300px;
  list-style: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 220px;
}

.dropdown_menu li {
  text-align: center;
  margin-top: 7px;
}

.dropdown_menu a {
  display: block; /* Hace que el enlace ocupe todo el espacio del <li> */
  padding: 0.7rem; /* Ajusta el relleno según tu diseño */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: white; /* Cambia el color del texto según tu diseño */
  border-radius: 10px;

}

.dropdown_menu a:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo en hover */
}

@media (max-width: 992px) {
  .links {
    display: none;
  }
  .toogle_btn, .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset; /* Ajusta el ancho del menú desplegable en pantallas pequeñas */
  }
}
